body{
     background-color:rgb(182, 64, 119);
}
h1{
    font-size:120px;
    color:rgb(170, 182, 64);
    text-align:center;
}
 p{
    font-size: 30px;
    color: rgb(255, 238, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 300px;
    height: 300px;
    margin: 60px;
    margin-left: 120px;
  border: 4px solid blue;
}
.cabecalho{background-color: white;
display: flex;

}
.logoimg{
    width: 300px;
    margin-left: 50px;
}
.listacabecalho{
    display:flex;
    margin-left:730px;
    margin-top: 125px;
}
.item_lista_cabecalho{
    list-style: none;
    text-transform: uppercase;
    color:black;
    front-size: 30xp;
    padding-left: 35px;
}

